*{padding:0; margin:0;}
body{min-height:900px; position:relative; font-size:14px; font-family:"微软雅黑"; color:#666;
 height:100%; background:url(../img/bg.jpg) no-repeat center top fixed; background-size:cover;}
h3{font-size:16px; padding:0; font-weight:normal;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
a img{border:none;}
ul,li{list-style-type:none;}
.clearfix{clear:both;}
.box-wrapper{width:800px; margin:0 auto;}

#index{width:100%;}
#go{width:500px; height:60px; line-height:60px; position:absolute; font-size:30px; text-align:center; color:#fff; font-weight:bold; left:50%; margin-left:-250px; top:50%; margin-top:-30px;}
#go a{color:orange;}
#go a:hover{font-size:36px;}

#banner{padding-bottom:40px;}
#logo{height:50px; line-height:50px; text-align: center; font-size:30px; text-align:center; padding-top:150px; padding-bottom:100px;}
#logo a{color:black; font-weight:bold;}

#nav{width:800px; margin:0 auto;}
#nav ul{width:900px;}
#nav li{width:20%; float:left; padding-bottom:20px;}
#nav li a{display:block; margin-right:100px; height:80px; background:#fff; color:#44a5f7; text-align:center; line-height:80px; font-weight:bold; font-size:36px;}

#main{background:#fff; min-height:600px;}
.content{padding:20px 20px 50px; background:#eee;}
.content h1{text-align:center; font-size:24px; font-weight:bold;}
.content .description{padding:20px 0;}
.content .pic{text-align:center;}
.content .pic p{padding:5px 0;}


#footer{background:#000; padding:20px 0 40px; text-align:center;}